<h3>Messages</h3>

<ul class="message-list">
  <li *ngFor="let message of getMessages()">
    <span>{{ message.content }}</span>
    <button type="button" (click)="startEditingMessage(message.id)">Edit</button>
    <button type="button" (click)="deleteMessage(message.id)">X</button>
  </li>
</ul>

<form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
  <div>
    <label>
      <input id="content" type="text" formControlName="content">
    </label>
  </div>

  <button class="button" type="submit">Send</button>
</form>
